<nb-card style="overflow-x:auto;overflow-y:hidden">
  <nb-card-body *ngIf="this.code!=null">
    <div>
      <div class="alert alert-primary">
        {{queryEnt.REMARK}}
        <span class="float-right">
          <i (click)="ReLoad()" class="nb-loop"></i>
          <i (click)="ShowMore=(!ShowMore)" class="ion-arrow-resize {{ ShowMore==true?'txtGray':''}}"></i>
        </span>
      </div>
    </div>

    <tr #btnHead>
      <td [attr.colspan]="clmNum">
          <div class="col-md-1">
            <button type="button" nbButton (click)="showAdd($event)">
              <i class="nb-plus-circled"></i>
              <span>{{"public.Create"|translate}}</span>
            </button>
          </div>
          <div style="float: left;margin-right: 5px;" *ngFor="let item of headBtnSet">
            <button type="button" nbButton (click)="HeadBtnClick(this,item.click)">
              <i class="{{item.class}}"></i>
              <span>{{item.title}}</span>
            </button>
          </div>
      </td>
    </tr>
    <ng2-smart-table *ngIf="LoadSetting" #samrtTable [settings]="settings" [source]="source" (delete)="onDelete($event)"
      (userRowSelect)="userRowSelect($event)" (edit)="onSave(this,$event)" >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>