<div class="row show-grid">
  <div class="row show-grid">
    <div class="col-md-1">
      <span class="file">
        <input type="file" ng2FileSelect [uploader]="uploader" multiple />选择文件
      </span>
    </div>
  </div>
  <div class="row show-grid" *ngFor="let item of uploader.queue">
    <div class="col-md-1">
      <button ion-button icon-only small (click)="item.remove();ReturnJson()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    <div class="col-md-1">
      <strong>{{ item?.file?.name }}</strong>
      <ion-icon class="delIco delIcoBlue" *ngIf="item.isSuccess" name="checkmark-circle"></ion-icon>
      <ion-icon class="delIco delIcoRed" *ngIf="item.isError" name="warning"></ion-icon>
    </div>
  </div>

</div>