<div>
  <ul *ngIf="messageList && messageList.length">
    <li *ngFor="let item of messageList">{{item}}</li>
  </ul>
  <div *ngIf="inputs['name']!=null" [ngStyle]="{'height':screenheight+'px','overflow-y':'auto'}">
    <div class="row show-grid">
      <div class="col-md-12">
        <div class="form-group">
          <label>{{inputs['name'].title}}</label>
          <input [(ngModel)]="bean[inputs['name'].name]" type="text" class="form-control"
            placeholder="{{inputs['name'].placeholder}}">
        </div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-12">
        <div class="form-group">
          <label>{{inputs['remark'].title}}</label>
          <textarea [(ngModel)]="bean[inputs['remark'].name]" rows="4"
            placeholder="{{inputs['remark'].placeholder}}" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-12">
        <!-- {{bean["moduleIdStr"]}} -->
        <tree-root #tree [nodes]="nodes" (deselect)="onSelect($event)" (select)="onSelect($event)" [options]="options"></tree-root>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" *ngFor="let item of buttons" nbButton
    (click)="ButtonClick(item.click)">{{item.name}}</button>
</div>